<%= render "navbar" %>

<div class="container d-flex justify-content-center">
  <div class="card w-50 mt-5">
    <div class="card-header">
      <h3>
        Create New Event
      </h3>
    </div>
    <div class="card-body">
      <%= render "form", event: @event %>
    </div>
  </div>
</div>
